.home-container {
    text-align: center;
    color: whitesmoke;

    .colorful-line-top {
        margin-top: 13px;
    }

    .page-title {
        margin-top: 3rem;
    }

    .input-letter {
        border-radius: 16px;
        margin: 10px auto;
        font-size: 18px;
        text-align: center;

        &::placeholder {
            text-align: center;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .colorful-line-bottom {
        margin-bottom: -50px;
    }
}


@media screen and (max-width: 768px) {
    .home-container {
        .colorful-line-top {
            margin-top: 80px;
        }

        .page-title {
            margin-top: 2rem;
            font-size: 20px;
        }

        .colorful-line-bottom {
            // display: none;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .home-container {
        .colorful-line-top {
            margin-top: 17px;
        }

        .colorful-line-bottom {
            margin-bottom: -54px;
        }
    }
}