@import "../../variables";

.container-wrapper {
    // background: #282828;
    background: linear-gradient(to left, #1c1417, #465e67); 
    position: fixed;
    z-index: 20;
    top: 0px;

    .link-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 8px;

        .nav-link{
         color: whitesmoke;
        }
     
        .nav-link:hover {
            color: $hover-color;
        }

        .glowing-circle {
            color: $hover-color;
        }

        
    }
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 22px;
    padding: 20px;

    .error-message {
        text-align: center;
        margin-bottom: 20px;
    }

    .error-img {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .container-wrapper {
        flex-direction: column;

        .nav-brand {
            position: relative;
            left: 9px;
            margin-bottom: -1rem;
        }
    }

    .error-container {
        padding: 10px;

        .error-message {
            font-size: 18px;
        }
    }
}