$main-color: whitesmoke;
$hover-color: rgb(240, 211, 142);

$main-footer-color: #d2aa26;
$secondary-footer-color: #8d93a7;
$third-footer-color: #232d48;

$clr-1: #00c2ff;
$clr-2: #33ff8c;
$clr-3: #ffc640;
$clr-4: #e54cff;
$blur: 1rem;
$fs: 25px;
$ls: clamp(-1.75px, -0.25vw, -3.5px);
//TODO organise